{% extends 'mycontact/base.html' %}

{% block content %}
    
    <div class="default_body">
        <div class="block_title">비밀번호 수정</div>
        {% if isError %}
            <div>현재 비밀번호를 확인하거나 <br>더 어려운 비밀번호로 설정해 주세요</div>
        {% endif %}
        <form method="POST" class="contact-form">{% csrf_token %}
            <div class="form-row">
                <label for="id_old_password">Old password : &nbsp</label> <input type="password" name="old_password" autofocus required id="id_old_password">
            </div>
            <div class="form-row">
                <label for="id_new_password1">New password : &nbsp</label><input type="password" name="new_password1" required id="id_new_password1">
            <div class="form-row">
                <label for="id_new_password2">Check new PW : &nbsp</label><input type="password" name="new_password2" required id="id_new_password2">                </div>
            </div>
            <div class="middle_align_div">
                <button type="submit" class="submit_btn edit_pw_btn">비밀번호 수정</button>
            </div>        
        </form>
    </div>
{% endblock %}