{% extends 'mycontact/base.html' %}

{% block content %}
    {% if user.is_active %}
        <h2> Welcome, {{user.username}} </h2>
        <a href="{% url 'logout' %}">로그아웃</a>
        
    {% else %}

        <div class="default_body">
            <div class="block_title">CAU Burger에 오신것을 환영합니다</div>
            <form method="POST" class="contact-form">{% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="username">ID :</label>
                    {{ form.username }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password.errors }}
                    <label for="password">Passwrod</label>
                    {{ form.password }}
                </div>
                <div class="middle_align_div"><button type="submit" class="login_btn submit_btn">로그인</button></div>
            </form>
            <div class="middle_align_div">
                <a href="{% url 'signup' %}">회원가입</a>
            </div>
        </div>
    {% endif %}
{% endblock %}